## 노인 인구수 데이터 merge

In [2]:
import pandas as pd
import numpy as np
import pickle
import warnings
warnings.filterwarnings("ignore")

In [3]:
## total_busdata 
total = pd.read_csv(
    filepath_or_buffer="../data/여진_total_busdata.csv"
    )

In [4]:
## total_busdata 
pop = pd.read_csv(
    filepath_or_buffer="../data/노인인구.csv",
    encoding="cp949"
    )

In [5]:
pop = pop.drop(index=[0,2,3,4,5,6]).reset_index()
pop = pop[['행정구역','2024년06월_계_총인구수', '2024년06월_계_연령구간인구수']]

In [6]:
pop['행정구역'].apply(lambda x: x.split()[2])

0     창원시
1     진주시
2     통영시
3     사천시
4     김해시
5     밀양시
6     거제시
7     양산시
8     의령군
9     함안군
10    창녕군
11    고성군
12    남해군
13    하동군
14    산청군
15    함양군
16    거창군
17    합천군
Name: 행정구역, dtype: object

In [7]:
for i in range(0,18):
    pop['행정구역'][i] = pop['행정구역'].str.split()[i][2]

pop

   행정구역 2024년06월_계_총인구수 2024년06월_계_연령구간인구수
0   창원시       1,003,731            276,574
1   진주시         339,744             96,776
2   통영시         119,349             41,425
3   사천시         108,865             37,272
4   김해시         532,132            119,824
5   밀양시         101,253             45,759
6   거제시         232,973             52,643
7   양산시         356,268             90,708
8   의령군          25,257             13,664
9   함안군          59,408             24,473
10  창녕군          56,487             27,807
11  고성군          48,660             23,282
12  남해군          40,303             21,606
13  하동군          41,154             21,796
14  산청군          33,514             18,315
15  함양군          36,503             18,205
16  거창군          59,867             24,876
17  합천군          40,756             23,160

In [8]:
total = total[['city_name','usage','노선정류장수', '노선거리(km)', '굴곡도']]

In [9]:
pop.rename(columns={"행정구역" : "city_name"}, inplace=True)

In [10]:
total_data = pd.merge(total, pop, how="left", on="city_name")

In [11]:
total_data.rename(columns={"2024년06월_계_총인구수" : "총인구수", 
                           "2024년06월_계_연령구간인구수" : "노인(수)"}, inplace=True)

In [12]:
total_data.to_csv("../data/total_data.csv", index=False)