In [274]:
import seaborn as sns
import pandas as pd
import numpy as np
import pickle

In [275]:
with open("../../data/버스기본데이터/노선경유지데이터.pkl", "rb") as f:
    loaded_dict = pickle.load(f)
list_data = []

### 첫번째 지역(창원)만

In [276]:
bus_stop = pd.DataFrame(columns=["rigeon1", "nodeid1", "routeid1"])


for a in range(1):
    i = list(loaded_dict.keys())[a]
    for j in loaded_dict[i].keys():
        for k in range(len(loaded_dict[i][j])):
            bus_stop = pd.concat([bus_stop, pd.DataFrame({"rigeon1": [i], "nodeid1": [loaded_dict[i][j][k]["nodeid"]], "routeid1": [[]]})], ignore_index=True)

    bus_stop.drop_duplicates(['nodeid1'], inplace=True)

    def update_routeid(row):
        for j in loaded_dict[i].keys():
            for k in range(len(loaded_dict[i][j])):
                if row['nodeid1'] == loaded_dict[i][j][k]["nodeid"]:
                    row['routeid1'].append(loaded_dict[i][j][k]["routeid"])
        return row

    bus_stop = bus_stop.apply(update_routeid, axis=1)

### 세번째 지역부터 마지막까지

In [277]:
for a in range(2, 18):
    i = list(loaded_dict.keys())[a]
    for j in loaded_dict[i].keys():
        for k in range(len(loaded_dict[i][j])):
            bus_stop = pd.concat([bus_stop, pd.DataFrame({"rigeon1": [i], "nodeid1": [loaded_dict[i][j][k]["nodeid"]], "routeid1": [[]]})], ignore_index=True)

    bus_stop.drop_duplicates(['nodeid1'], inplace=True)

    def update_routeid(row):
        for j in loaded_dict[i].keys():
            for k in range(len(loaded_dict[i][j])):
                if row['nodeid1'] == loaded_dict[i][j][k]["nodeid"]:
                    row['routeid1'].append(loaded_dict[i][j][k]["routeid"])
        return row

    bus_stop = bus_stop.apply(update_routeid, axis=1)

In [278]:
bus_stop

      rigeon1       nodeid1                                           routeid1
0       38010  CWB379003142  [CWB379000010, CWB379000030, CWB379000310, CWB...
1       38010  CWB379000045  [CWB379000010, CWB379000030, CWB379000310, CWB...
2       38010  CWB379000041  [CWB379000010, CWB379000310, CWB379000360, CWB...
3       38010  CWB379000022  [CWB379000010, CWB379000310, CWB379000360, CWB...
4       38010  CWB379000027  [CWB379000010, CWB379000310, CWB379000360, CWB...
...       ...           ...                                                ...
19600   38400  TSB398000860                       [TSB398000162, TSB398000163]
19604   38400  TSB398000859                       [TSB398000162, TSB398000163]
19725   38400  TSB398000697                                     [TSB398000168]
19726   38400  TSB398000696                                     [TSB398000168]
19727   38400  TSB398000695                                     [TSB398000168]

[16777 rows x 3 columns]